<template name="Overview">
  <div class="overview__wrapper">
    {{#each category in projectCategories}}
      <div class="overview__project">
        {{#each (get projects category)}}
          <div class="overview__project__item" style="background-image: url({{thumb}});"></div>
        {{/each}}
      </div>
    {{/each}}

    {{#if lightbox}}
      <div class="lightbox">
        <img id="feature-img" src={{currentFeatureImg.img}} class="lightbox__selected-img" alt={{currentFeatureImg.name}} />

        <button type="button" id="close-lightbox" class='btn--transparent lightbox--close'>
          <img src='/assets/cross.svg' class="inject-me" alt="close" />
        </button>

        {{#HammerTouchArea gestureMap=templateGestures}}
          <button id="lightbox-img-back"
            type="button"
            class="project__btn project__btn--back"></button>

          <button id="lightbox-img-fwd"
            type="button"
            class="project__btn project__btn--fwd"></button>
        {{/HammerTouchArea}}
      </div>
    {{/if}}
  </div>
</template>
