.intro__content {
  padding: 0 3vw;

  h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .jl__logo {
    width: 224px;
    height: 34px;

    @media (max-height: 370px) {
  		height: 25px;
      width: 160px;
  	}
  }
}
