.intro__content {
  padding: 0 3vw;

  h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .jl__logo--sm {
    width: 224px;
    height: 34px;
    display: none;

    path { fill: palette(gray, x-dark); }

    @media (max-height: 370px) {
  		height: 25px;
      width: 160px;
  	}

    @include gmq(portable) {
      display: inline-block;
    }
  }

  .jl__logo--lg {
    width: 186px;
    height: 100px;
    display: inline-block;

    path { fill: palette(gray, x-dark); }

    @include gmq(portable) {
      display: none;
    }
  }
}
