.nav {
  // border-bottom: 1px solid palette(gray,dark);

  &__list {
    margin: .5em 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-height: 370px) {
  		margin: .1em 0;
  	}

    &__item {
      a {
        color: palette(gray);
        text-decoration: none;
      }

      &.active {
        a {
          color: palette(gray, x-dark)
        }
      }

      &:first-of-type {
        margin-right: 1em;
      }
    }
  }
}
