.project {
  &__wrapper {
    height: 66vh;
    width: 100vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  &__item {
    height: 100%;
    display: inline;
    position: relative;
    cursor: pointer;

    &:after {
      transition: .3s ease-in-out;
      @include s-overlay($white, 0);
    }

    &:hover {
      &:after {
        @include s-overlay($white, .2);
      }
    }

    animation: fadeIn 1s 1s;
    animation-fill-mode: both;

    @for $i from 1 through 100 {
      $sub: 1;
      $div: 10;

      &:nth-child(#{$i}) {
        animation-delay: #{($i - $sub) / $div}s;
      }
    }
  }
}

.lightbox {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: fadeIn .5s;
  animation-fill-mode: both;

  &:after {
    @include s-overlay(black, .9);
  }

  img {
    max-height: 95vh;
    max-width: 95vw;
    z-index: 100;
  }
}
