%project-item {
  display: inline;
  position: relative;
  cursor: pointer;

  &:after {
    transition: .3s ease-in-out;
    @include s-overlay($white, 0);
  }

  &:hover {
    &:after {
      @include s-overlay($white, .2);
    }
  }

  animation: fadeIn 1s 1s;
  animation-fill-mode: both;

  @for $i from 1 through 100 {
    $sub: 1;
    $div: 10;

    &:nth-child(#{$i}) {
      animation-delay: #{($i - $sub) / $div}s;
    }
  }
}

.project {
  &__wrapper {
    height: 90vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    position: relative;

    button {
      border: none;
      background-color: transparent;

      &:focus {
        outline:0;
      }
    }

    @include gmq(portable) {
      height: 70vh;
      width: 100vw;
    }
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 50%;

    &--back {
      left: 0;
    }
    &--fwd {
      right: 0;
    }
    &--overview {
      svg {
        path {
          fill: $gray;
          transition: .3s ease-in-out;
        }
      }
    }
  }

  &__featured {
    @extend %project-item;
    height: 90vh;

    @include gmq(portable) {
      height: inherit;
      max-height: 70vh;
      max-width: 95vw;
    }
  }
}

.btn__group {
  width: 4em;
  height: 1em;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 7px;
  align-items: center;
  right: 25px;
  transition: .3s ease-in-out;

  @include gmq(portable) {
    display: none;
  }
}
