section {
  width: 100%;
	padding: 10em 0;
	position: relative;
	overflow: hidden;

  &.section--sm {
    padding: 5vh 0;
  }

	&.intro {
    &--full {
      height: 100vh;
    }

    &--gray {
      background-color: palette(gray,x-light);
    }

    &--center-text {
      text-align: center;
    }
	}
}
